NODE_ENV=development
PORT=5000
CLIENT_ORIGIN=http://localhost:4200
MONGO_URI=mongodb://localhost:27017/mallcity
JWT_SECRET=supersecret_jwt_key_mallcity_2026
JWT_EXPIRES_IN=1h

# Initial Admin Seeder Credentials
ADMIN_NAME=Super Admin
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@mallcity.com
ADMIN_PASSWORD=Admin@123456
